<h1>List of directors</h1>

<%= Director.all.each do |a_director| %>
  <li>
    <%= a_director.name %> (<%= a_director.dob %>
  </li>
<% end %>


<table>
  <tr>
    <th>ID</th>
    <th>Image</th>
    <th>Name</th>
    <th>Dob</th>
    <th></th>
  </tr>
</table>
